.homepage {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 80px;
    // background-color: aqua;
  }
  
  .directory-menu {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  